@import url(https://fonts.googleapis.com/css?family=Lato);body {
  background-color: black;
  color: white;
  padding: 10px;
  font-family: 'Lato', sans-serif;
}

.box {
  background-color: grey;
  border: 0.5px solid black;
  text-align: center;
  text-shadow: 1px 1px 3px #535353;
}

.taxiNo {
  font-size: 105%;
}

.green {
  background-color: #27ae60 !important;
}

.red {
  background-color: #e74c3c !important;
}

.purple {
  background-color: #9b59b6 !important;
}

