body {
  background-color: black;
  color: white;
  padding: 20px;
}

.box {
  background-color: grey;
  border: 1px solid white;
  text-align: center;
  margin-bottom: 10px;
}

.green {
  background-color: #27ae60;
}

.red {
  background-color: #e74c3c;
}

.purple {
  background-color: #9b59b6;
}

