// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@font-face {
    font-family: 'Faruma';
    src: url("./font/Faruma.otf") format("opentype");
}

.dhivehi-font {
    font-family: 'Faruma' !important;
}

.question {
    height: 100vh;
}

.answers {
    margin-top: 30px;
}

.answer {
    margin-right: 20px;
}

input[type='radio'] {
    transform: scale(2); 
}