// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@font-face {
    font-family: 'Faruma';
    src: url("./font/Faruma.otf") format("opentype");
}

.dhivehi-font {
    font-family: 'Faruma' !important;
}

.dhivehi-rtl {
    direction: rtl;
}

.question {
    height: 100vh;
    padding-top: 100px;
}

// .answers {
//     // margin-top: 30px;
// }

.answer {
    margin-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.first-panel {
    height: 100vh;
}

input[type='radio'] {
    transform: scale(2); 
}

.no-dhivehi {
    direction: ltr !important;
}

.timer {
    background-color: #fff;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #5989ff;
    position: fixed;
    font-size: 40px;
    text-align: center;
    top: 30px;
    left: 30px;
    max-height: 100%;
    overflow-y: hidden;
    padding: 5px;
}